{% extends "base.html" %}
{% block content %}

<!-- Add a goal -->
<section class="py-2 text-center container bg-light" style="border-radius:10%;">
    <div class="row mb-2">
      <h2 class="fw-light mt-5">Goal</h2>
      <p class="lead text-muted">Decide, Commit, Suceed.<br>
        Commitment is what transforms a promise into a reality.</p>
    </div>
    <div class="row mb-2">
      <div class="col-12 col-md-6 mt-5">
        <img src="static/assets/img/my_booklog.png" class="bd-placeholder-img" alt="phone with logo" width="100%" height="auto" style="border-radius: 5%;">
      </div>
      <div class="col-12 col-md-6">
        <form class="" method="POST" action="{{ url_for('add_goal') }}">
          <div class="mb-3">
            <label for="goal_level" class="form-label form-commitment mt-5 mr-5">Choose your reading commitment :</label>
            <select id="goal_level" name="goal_level" required>
              <option value="between 1 - 12 books per year">between 1 - 12 books per year</option>
              <option value="between 12 - 24 books per year">between 12 - 24 books per year</option>
              <option value="between 24 - 36 books per year">between 24 - 36 books per year</option>
              <option value="36+ books per year">36+ books per year</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="goal_reason" class="form-label form-commitment">I choose to complete this commitment mentionned above because</label>
            <textarea type="text" class="form-control" name ="goal_reason" id="goal_reason" aria-describedby="commitmentHelp" required></textarea>
          </div>
          <div class="mb-3">
            <label for="goal_obstacle" class="form-label form-commitment">When I run into obstacles or lack of motivation at some point, I will</label>
            <textarea type="text" class="form-control" name="goal_obstacle" id="goal_obstacle" required></textarea>
          </div>
          <div class="mb-3">
          <label for="goal_email" class="form-label form-commitment">Enter your email to receive a copy</label>
          <input class="form-control me-2 validate" name="goal_email"  id="email" type="text" placeholder="" aria-label="author" required>
          </div>
          <label for="goal_signature" class="form-label form-commitment">Commit here by typing your full name</label>
          <input type="text" class="form-control" name="goal_signature" id="goal_signature" aria-describedby="commitmentHelp" required>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary mt-5">Save my commitment</button>
        </form>
        </div>
      </div>
  </section>

{% endblock %}
    