{% block content %}

  <!-- Add a review -->
        <form class="text-center" method="POST" action="{{ url_for('add_review') }}">
          <div class="mb-3">
            <label for ="review_book" class="label-form form-label"> Select a book :</label>
              <select id="review_book" name="review_book" required>
                {% for book in books %}
                <option value="books">{{ book.title }} by {{ book.author }}</option>
                {% endfor %}
              </select>
          </div>
          <div class="mb-3">
            <label for ="review_title" class="label-form form-label"> Give a title to your review </label>
            <textarea class="form-control me-2 validate" name="review_title" id="review_title" type="text" placeholder="Write your review title here" aria-label="author" required></textarea>
          </div>
          <div class="mb-3">
            <label for ="review_content" class="label-form form-label"> Leave your review </label>
            <textarea class="form-control me-2 validate" name="review_content" id="review_content" type="text" placeholder="Write your review content here" aria-label="author" required></textarea>
          </div>
          <div class="mb-3">
          <label for ="review_full_name" class="label-form form-label">Full Name</label>
          <input class="form-control me-2 validate" name="review_full_name" id="review_full_name" type="text" placeholder="" aria-label="author" required>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-5">Submit review</button>
          </div>
      </form>

{% endblock %}
    