{% block content %}
  <form class="" method="POST" action="{{ url_for('profile', username=session['user']) }}">
    <div class="mb-3">
      <label for="goal_level" class="form-label form-commitment mt-5 mr-5">Choose your reading commitment :</label>
      <select id="goal_level" name="goal_level" required>
        <option value="between 1 - 12 books per year">between 1 - 12 books per year</option>
        <option value="between 12 - 24 books per year">between 12 - 24 books per year</option>
        <option value="between 24 - 36 books per year">between 24 - 36 books per year</option>
        <option value="36+ books per year">36+ books per year</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="goal_reason" class="form-label form-commitment">I choose to complete this commitment mentionned above because</label>
      <textarea type="text" class="form-control" name ="goal_reason" id="goal_reason" aria-describedby="commitmentHelp" required></textarea>
    </div>
    <div class="mb-3">
      <label for="goal_obstacle" class="form-label form-commitment">When I run into obstacles or lack of motivation at some point, I will</label>
      <textarea type="text" class="form-control" name="goal_obstacle" id="goal_obstacle" required></textarea>
    </div>
    <div class="mb-3">
    <label for="goal_signature" class="form-label form-commitment">Commit here by typing your full name</label>
    <input type="text" class="form-control" name="goal_signature" id="goal_signature" aria-describedby="commitmentHelp" required>
    </div>
    <button type="submit" class="btn btn-primary mt-5">Save my commitment</button>
  </form>
{% endblock %}
    