{% extends "base.html" %}
{% block content %}

<!-- Search for a book -->

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-12 col-md-8 mx-auto">
        <h1 class="fw-bold">{{page_title}}</h1>
        <p class="lead text-muted">Browse through our library by using the search bar or checking our collections to explore all layers of your inner power.</p>
        </p>
      </div>
    </div>
    <div class="col-lg-6 col-md-8 mx-auto">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search by book title or author" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Submit</button>
    </form> 
    </div>
  </section>
  
      
   <!-- collections + books -->
  
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 ">
              <a href="#" class="card btn btn-secondary my-3">
                <div class="card-img bg-primary text-white" style="padding:5px;">
                  <span><i class="fas fa-dumbbell fa-3x"></i></span>
                  <h5 class="card-title" style="padding-top: 10px;">Health & Fitness</h5>
                </div>
              </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="card btn btn-secondary my-3">
              <div class="card-img bg-primary text-white" style="padding:5px;">
                  <span><i class="fas fa-brain fa-3x"></i></span>
                  <h5 class="card-title" style="padding-top: 10px;">Intellectual</h5>
                </div>
              </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="card btn btn-secondary my-3">
              <div class="card-img bg-primary text-white" style="padding:5px;">
                  <span><i class="fas fa-smile-beam fa-3x"></i></span>
                  <h5 class="card-title" style="padding-top: 10px;">Emotional</h5>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="card btn btn-secondary my-3">
              <div class="card-img bg-primary text-white" style="padding:5px;">
                  <span><i class="fas fa-bolt fa-3x"></i></span>
                  <h5 class="card-title" style="padding-top: 10px;">Character</h5>
                </div>
              </a>
          </div>
          <div class="row">
            <div class="col-md-3">
              <a href="#" class="card btn btn-secondary my-3">
                <div class="card-img bg-primary text-white" style="padding:5px;">
                    <span><i class="fas fa-cloud fa-3x"></i></span>
                    <h5 class="card-title" style="padding-top: 10px;">Spiritual</h5>
                  </div>
                </a>
            </div>
            <div class="col-md-3">
            <a href="#" class="card btn btn-secondary my-3 ">
                <div class="card-img bg-primary text-white" style="padding:5px;">
                    <span><i class="fas fa-heartbeat fa-3x"></i></span>
                    <h5 class="card-title" style="padding-top: 10px;">Love relationship</h5>
                  </div>
                </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="card btn btn-secondary my-3 ">
                <div class="card-img bg-primary text-white" style="padding:5px;">
                    <span><i class="fas fa-baby fa-3x"></i></span>
                    <h5 class="card-title" style="padding-top: 10px;">Parenting</h5>
                  </div>
                </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="card btn btn-secondary my-3 ">
                <div class="card-img bg-primary text-white" style="padding:5px;">
                    <span><i class="fas fa-user-friends fa-3x"></i></span>
                    <h5 class="card-title" style="padding-top: 10px;">Social</h5>
                  </div>
                </a>
            </div>
          <div class="row">
            <div class="col-md-3">
              <a href="#" class="card btn btn-secondary my-3 ">
                <div class="card-img bg-primary text-white" style="padding:5px;">
                    <span><i class="fas fa-suitcase fa-3x"></i></span>
                    <h5 class="card-title" style="padding-top: 10px;">Career</h5>
                  </div>
                </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="card btn btn-secondary my-3 ">
                <div class="card-img bg-primary text-white" style="padding:5px;">
                    <span><i class="fas fa-money-check-alt fa-3x"></i></span>
                    <h5 class="card-title" style="padding-top: 10px;">Financial</h5>
                  </div>
                </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="card btn btn-secondary my-3 ">
                <div class="card-img bg-primary text-white" style="padding:5px;">
                    <span><i class="fas fa-check fa-3x"></i></span>
                    <h5 class="card-title" style="padding-top: 10px;">Quality of life</h5>
                  </div>
                </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="card btn btn-secondary my-3 ">
                <div class="card-img bg-primary text-white" style="padding:5px;">
                    <span><i class="fas fa-eye fa-3x"></i></span>
                    <h5 class="card-title" style="padding-top: 10px;">Life vision</h5>
                  </div>
                </a>
            </div>
          </div>
        </div>
      </div>
      </div>


  <!-- Books per collection  -->

<section class="py-5 text-center container-fluid">
  <div class="col-lg-12 col-md-8 mx-auto">
    <div class="row py-lg-5">
      <div class="col-md-2 mx-auto">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Book title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">collection</li>
        </ul>
        <div class="card-body">
          <a href="{{ amazon_link }}" class="btn btn-secondary my-2">View on Amazon</a>
          <a href="{{ saved_book }}" class="card-link"><i class="fab fa-solid fa-glasses-round fa-1x"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}
    