{% extends "base.html" %}
{% block content %}

<!-- mybooklog section -->
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-12 col-md-8 mx-auto">
      <h1 class="fw-bold">{{page_title}}</h1>
      <p class="lead text-muted"> Welcome, {{ username }}! Set your goal, monitor your readings and get some great insights.</p>
      </p>
    </div>
  </div>
</section>

<!-- Goal - Commitment -->
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Goal</h1>
        <p class="lead text-muted">Decide, Commit, Suceed.<br>
          Commitment is what transforms a promise into a reality.</p>
        </p>
        <form>
          <div class="mb-3">
            <label for="exampleInputStatement1" class="form-label form-commitment">I commit to complete reading the following number of books per year</label>
            <!-- <div class="dropdown" >
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" required>
                Select a number
              </button> -->
            <a class="btn btn-md dropdown-toggle btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select your level<span class="caret"></span></a>
              <div id="dropdown-list" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item beginner" href="{{user.reading_level}}">Beginner : between 1 - 12 books per year</a>
                <a class="dropdown-item intermediate" href="{{user.reading_level}}">Intermediate : between 12 - 24 books per year</a>
                <a class="dropdown-item experts" href="{{user.reading_level}}">Expert : between 24 - 36 books per year</a>
                <a class="dropdown-item masters" href="{{user.reading_level}}">Master : 36+ books per year</a>
              </div>
              <div id="level-info"></div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputStatement2" class="form-label form-commitment">I choose to complete my reading commitment mentionned above because</label>
            <input type="text" class="form-control" id="exampleInputStatement2" aria-describedby="commitmentHelp" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputStatement3" class="form-label form-commitment">When I run into obstacles or lack of motivation at some point, I will</label>
            <input type="text" class="form-control" id="exampleInputStatement3" required>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">I will achieve my reading goal</label>
          </div>
          <label for="exampleInputStatement2" class="form-label form-commitment">Commit here by typing your name</label>
          <input type="text" class="form-control" id="exampleInputStatement2" aria-describedby="commitmentHelp" required>
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-secondary">Edit</button>
          <button type="submit" class="btn btn-primary">Save my commitment</button>
        </form>
      </div>
      </div>
    </div>
  </section>

  <!-- MyReads  -->
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-12 col-md-8 mx-auto">
          <h1 class="fw-light">MyReads</h1>
          <p class="lead text-muted">Manage your reading progres. Remember, the world belongs to those who reads.</p>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Saved
                </button>
              </h2>
              <!-- book details -->
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ul class="list-group ">
                    <li class="list-group-item float-right">{{book.saved.title}}</li>
                    <li class="list-group-item float-right">{{book.saved.auhor}}</li>
                    <li class="list-group-item float-right"><a href="{{ book.amazon_link }}" class="btn btn-secondary my-2" target="_blank">View on Amazon</a></li>
                    <!-- dropdown to change status -->
                    <div class="mb-3">
                      <label for="exampleInputStatement1" class="form-label form-commitment">I commit to complete reading the following number of books per year</label>
                      <a class="btn btn-md dropdown-toggle btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Select your level<span class="caret"></span></a>
                        <div id="dropdown-list" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item beginner" href="#">Saved</a>
                          <a class="dropdown-item intermediate" href="#">Finished</a>
                          <a class="dropdown-item experts" href="#">Upvoted</a>
                        </div>
                        <div id="level-info"></div>
                      </div>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Reading
                </button>
              </h2>
              <!-- book details -->
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ul class="list-group ">
                    <li class="list-group-item float-right">{{book.saved.title}}</li>
                    <li class="list-float-right">{{book.saved.auhor}}</li>
                    <li class="list-float-right">
                      <form>
                        <div>
                          <label for="due-date">due date: {{book.saved.due_date}}:</label>
                          <input type="date" id="due-date" name="due-date">
                        </div>
                      </form>
                    </li>
                    <li class="list-group-item"><a href="{{ book.amazon_link }}" class="btn btn-secondary my-2" target="_blank">View on Amazon</a></li>
                    <!-- dropdown to change status -->
                    <div class="mb-3">
                      <label for="exampleInputStatement1" class="form-label form-commitment">I commit to complete reading the following number of books per year</label>
                      <a class="btn btn-md dropdown-toggle btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Select your level<span class="caret"></span></a>
                        <div id="dropdown-list" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item beginner" href="#">Saved</a>
                          <a class="dropdown-item intermediate" href="#">Finished</a>
                          <a class="dropdown-item experts" href="#">Upvoted</a>
                        </div>
                        <div id="level-info"></div>
                      </div>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Finished
                </button>
              </h2>
              <!-- book details -->
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ul class="list-group ">
                    <li class="list-group-item float-right">{{book.saved.title}}</li>
                    <li class="list-float-right">{{book.saved.auhor}}</li>
                    <li class="list-group-item"><a href="{{ book.amazon_link }}" class="btn btn-secondary my-2" target="_blank">View on Amazon</a></li>
                    <!-- dropdown to change status -->
                    <div class="mb-3">
                      <label for="exampleInputStatement1" class="form-label form-commitment">I commit to complete reading the following number of books per year</label>
                      <a class="btn btn-md dropdown-toggle btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Select your level<span class="caret"></span></a>
                        <div id="dropdown-list" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item beginner" href="#">Saved</a>
                          <a class="dropdown-item intermediate" href="#">Finished</a>
                          <a class="dropdown-item experts" href="#">Upvoted</a>
                        </div>
                        <div id="level-info"></div>
                      </div>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Upvoted
                </button>
              </h2>
              <!-- book details -->
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ul class="list-group ">
                    <li class="list-group-item float-right">{{book.saved.title}}</li>
                    <li class="list-float-right">{{book.saved.auhor}}</li>
                    <li class="list-group-item"><a href="{{ book.amazon_link }}" class="btn btn-secondary my-2" target="_blank">View on Amazon</a></li>
                    <!-- dropdown to change status -->
                    <div class="mb-3">
                      <label for="exampleInputStatement1" class="form-label form-commitment">I commit to complete reading the following number of books per year</label>
                      <a class="btn btn-md dropdown-toggle btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Select your level<span class="caret"></span></a>
                        <div id="dropdown-list" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item beginner" href="#">Saved</a>
                          <a class="dropdown-item intermediate" href="#">Finished</a>
                          <a class="dropdown-item experts" href="#">Upvoted</a>
                        </div>
                        <div id="level-info"></div>
                      </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

    
  <!-- Insights  -->
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-12 col-md-8 mx-auto">
        <h1 class="fw-light">Insights</h1>
        <p class="lead text-muted">Here is an overview of your reading progress.<br>
          You are doing fantastic, keep nourrishing your soul with amazing readings and inspire others to do the same!</p>
        </p>
      </div>
    </div>
  </section>


  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-img bg-primary text-white text-center" style="padding:10px;">
            <h1 class="card-title" style="padding-top: 10px;">12</h1>
            <h5 class="card-title" style="padding-top: 10px;">Books finished</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
            <div class="card-img bg-primary text-white text-center" style="padding:10px;">
              <h1 class="card-title" style="padding-top: 10px;">8</h1>
              <h5 class="card-title" style="padding-top: 10px;">Books recommended</h5>
            </div>
        </div>
      </div>
    </div>
  </div>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-12 col-md-8 mx-auto ">
        <button class="btn btn-refresh-insights"><i class="fa fa-refresh fa-3x"></i></button>
          <p class="lead text-muted">Refresh for the latest insights</p>
        </p>
      </div>
    </div>
  </section>

{% endblock %}
    