{% extends "base.html" %}
{% block content %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-12 col-md-8 mx-auto">
      <h2 class="fw-bold">MyBookLog</h2>
      <p class="lead text-muted">Start building your reading list with your favorite books and set your reading goal to become the best version of yourself </p>
    </div>
  </div>
</section>

<div class="py-2 text-center container-fluid bg-review mt-5" style="border-radius:5%;">
  <div class="py-5 text-center container-fluid">
    <div class="row mb-2">
      <div class="col-lg-12 col-md-8 mb-5">
        <h2 class="fw-light">My Wishlist</h2>
        <p class="lead text-muted">Manage your saved books and prepare your next reading. Remember, the world belongs to those who reads.</p>
      </div>
    </div>
    <div class="row mb-2"> 
      <div class="col-lg-12 col-md-12 text-center">
        <div class="review-history table-responsive">
        {% if session.user %} 
          {% include 'saved_book.html' %}
        {% endif %}  
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>

<div class="py-2 text-center container-fluid mt-5">
  <div class="py-5 text-center container-fluid">
    <div class="row mb-2">
      <div class="col-lg-12 col-md-8 mx-auto mb-5">
      <a class="btn btn-lg btn-save" href="{{ url_for('collections') }}">Explore Bookcytocin collections</a>
      </div>
    </div>
  </div>
</div>

<div class="py-2 text-center container bg-light" style="border-radius:5%;">
  <div class="row mb-2">
    <h2 class="fw-light mt-5">Goal</h2>
    <p class="lead text-muted">Decide, Commit, Succeed.<br>
      Commitment is what transforms a promise into a reality.</p>
  </div>
  <div class="row mb-2">
    <div class="col-12 col-md-6 mt-5">
      <img src="/static/assets/img/my_booklog.png" class="bd-placeholder-img mt-5" alt="phone with logo" style="width:100%; height:auto; border-radius:2.5%;">
    </div>
    <div class="col-12 col-md-6">
    {% if session.user %} 
      {% include 'edit_goal.html' %}
    {% endif %}  
      </div>
    </div>
</div>

  <div class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-12 col-md-8 mx-auto">
        <p class="lead fw-bold mb-5" style="color:purple;">COMING SOON</p>
        <h2 class="fw-light">Insights</h2>
        <p class="lead text-muted">Here is an overview of the books you saved and reviews shared.<br>
          You are doing fantastic, keep nourrishing your soul with amazing readings and inspire others to do the same!</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mx-auto mb-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-img bg-primary text-white text-center" style="padding:10px;">
            <h1 class="card-title" style="padding-top: 10px;">--</h1>
            <h5 class="card-title" style="padding-top: 10px;">Books saved</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
            <div class="card-img bg-primary text-white text-center" style="padding:10px;">
              <h1 class="card-title" style="padding-top: 10px;">--</h1>
              <h5 class="card-title" style="padding-top: 10px;">Reviews shared</h5>
            </div>
        </div>
      </div>
    </div>
  </div>

<div class="py-2 text-center container-fluid mt-5">
  <div class="py-5 text-center container-fluid">
    <div class="row mb-2">
      <div class="col-lg-12 col-md-8 mx-auto">
        <a class="lead fw-bold mb-5" href="{{ url_for('delete_profile', id=user._id) }}">Delete my profile</a>
        <p class="text-muted small mb-4 mb-lg-0"></i> Are you sure you want to leave Bookcytocin ? By clicking all your data will be deleted.</p>
    </div>
    </div>
  </div>
</div>
{% endblock %}