{% block content %}

<form class="" method="POST" action="{{ url_for('profile', username=session['user']) }}">
  <table class="table table-sm table-borderless">
      <thead class="text-muted">
          <tr class="lead" style="color:purple;">
            <th>Book</th>
            <th>Title & Author</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
      </thead>
      <hr>
      <tbody>
          <tr>
            <td>{{ user.book.image_url }}</td>
            <td>{{ user.book.title }} by {{ user.book.author }}</td> 
            <td>{{ user.book.description }}</td> 
            <td><a href="{{ book.amazon_link }}" class="btn btn-secondary btn-sm my-2" target="_blank">View on Amazon</a> || <a href="{{ url_for('delete_saved_book') }}" class="btn btn-secondary btn-sm my-2" target="_blank">Delete</a> </td>
          </tr>
      </tbody>
  </table>
</form>

{% endblock %}