{% block content %}
<form class="" method="POST" action="{{ url_for('profile', username=session['user','book_id']) }}">
  <table class="table table-sm table-borderless" id ="cssTable">
    <thead class="text-muted">
        <tr class="lead" style="color:purple;">
          <th class="d-none d-lg-block">Books</th>
          <th>About</th>
          <th>Actions</th>
        </tr>
    </thead>
    {% if user.saved_books|count %}
    {% for book in books %}
      <tbody>
          <tr>
            <td class="d-none d-lg-block mt-5"><img src="{{book.book_image_url}}" class="card-img" alt="book" style="width:150px; height:200px;"></td>
            <td>
              <p class="fw-bold text-left">{{ book.book_title }} by {{ book.book_author }}</p>
              <p>{{ book.book_description }}</p>
            </td> 
            <td>
              <a href="{{ book.book_amazon_link }}" class="btn btn-secondary btn-sm my-2" target="_blank">Buy</a>
              <a href="{{ url_for('delete_saved_book', book_id=book._id) }}" class="btn btn-save btn-sm my-2">Remove</a>
            </td>
          </tr>
      </tbody>
    {% endfor %}
  </table>
</form>
    {% else %}
    {% for book in books %}
    <tbody>
        <tr>
          <td class="d-none d-lg-block mt-5 mb-5"><img src="{{book.book_image_url}}" class="card-img" alt="book" style="width:150px; height:200px;"></td>
          <td>
            <p class="fw-bold text-left">{{ book.book_title }} by {{ book.book_author }}</p>
            <p>{{ book.book_description }}</p>
          </td> 
          <td>
            <a href="{{ book.book_amazon_link }}" class="btn btn-secondary btn-sm my-2" target="_blank">Buy</a>
            <a href="{{ url_for('delete_saved_book', book_id=book._id) }}" class="btn btn-save btn-sm my-2">Remove</a>
          </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
</form>
    <p class="lead text-muted">Your wishlist is empty. Start exploring !</p>
    {% endif %}
{% endblock %}