{% extends "base.html"%}
{% block content %}
<section class="py-5 text-center container-fluid" >
  <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">   
          <form class="form-signin" method="POST" action="{{ url_for('signup') }}">
              <h2 class="fw-bold">{{page_title}}</h2>
              <br>
              <p class="lead text-muted">Register to start building your wishlist</p>
              <label for="username" class="sr-only"><i class="fab fa-user-plus"></i>Username</label>
              <input type="text" id="username" name="username" class="form-control" placeholder="Username" 
              pattern="^[a-zA-z0-9]{5,15}$" minlength="5" maxlength="15" title="Username should be between 5 - 15 letters and only contain lowercase letters. e.g. florence" required autofocus>
              <br>
              <label for="password" class="sr-only"><i class="fab fa-user-lock"></i>Password</label>
              <input type="password" id="password" name="password" class="form-control" placeholder="Password" pattern="^[a-zA-z0-9]{5,15}$" minlength="8" title="Password should be minimum 8 characters e.g. bookcytocin" required>
              <div class="checkbox mb-3">
              <br>
              <label>
                  <input type="checkbox" value="remember-me"> Remember me
              </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
              <p class="mt-5 mb-3 text-muted">Already registered ? Access your profile <a class="login" href="{{ url_for('login') }}">here</a></p>
          </form>
      </div>
  </div>
</section>
{% endblock %}
